%h1=@dashboard.name
#dashboard
	=render_widget :fido
	=render_widget :harry
	=render_widget :sally
	=render_widget :alf
	=render_widget :c3p0
	
=link_to "add random text added to Alf to see if centerize is being called", "#",{:id=>"random_text"} 
:javascript
	$("#random_text").click(function(){
		var r_text = new Array();
		r_text[0] = "All the leaves are brown";
		r_text[1] = "And the sky is grey";
		r_text[2] = "I've been for a walk";
		r_text[3] = "On a winter's day";
		r_text[4] = "I'd be safe and warm";
		r_text[5] = "If I was in L.A.";
		r_text[6] = "California dreaming, On such a winter's day";
		
		var rand_text = "";
		for(var j=1; j<=5; j++ ) {
			var i = Math.floor(r_text.length * Math.random());
			rand_text += r_text[i];	
		}	
		$('#alf .content').html(rand_text);
		$('#alf .content').trigger('contentchanged');
		return false;
	});
	